<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>COVINFO</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Modern+Antiqua" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->

    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static', filename='css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static', filename='css/style.min.css')}}" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Lato');

        html, body, div, span, applet, object, iframe,   h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
		
	</style>


</head>

<body >
<header>

        <!-- Navbar -->
          <nav class="navbar fixed-top navbar-expand-lg navbar-dark default-color scrolling-navbar">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="" >
                    <strong class="white-text">COVINFO</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link waves-effect" href="home">Home
                                
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="dashboard" >Data visualization</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link waves-effect" href="COVINFO" >Current news</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link waves-effect" href="awareness" >Awareness</a><span class="sr-only">(current)</span>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="predictor" >Disease prediction</a>
                        </li>
                    </ul>

                    <!-- Right -->
                  
                </div>

        </nav>
        <!-- Navbar -->

    </header>
    <main class="mt-5 pt-5">
    <div class="container">

    <h1> You are most likely to have {{ pred }} </h1>
    <hr/>
    <h2 id="corona">  </h2>

    <h4 id="keys" style="color:white;"> {{ keys }} </h4>
    <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4" height="1000">

          <!--Card-->
          <div class="card" height="400">

            <!-- Card header -->
            <div class="card-header" >Radar chart</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="radarChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        </div>
        <div class="container">

</main>
          <!--Grid column-->
          <footer class="page-footer text-center font-small mt-4 wow fadeIn">

                <!--Call to action-->
                
                <!--/.Call to action-->
            
                <hr class="my-4">
            
                <!-- Social icons -->
                
                <!-- Social icons -->
            
                <!--Copyright-->
                <div class="footer-copyright py-3">
                
                  <a href="" style="color:white;" > Covinfo.com </a>
                </div>
                <!--/.Copyright-->
            
              </footer>   
          <!--Grid column-->

          <!--Grid column-->

            <!--Card-->
       

    <!-- Mask & flexbox options-->

      <!-- Content -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


        <!--Grid row-->
        <script type="text/javascript">
        var keys=document.getElementById("keys").innerHTML;
        console.log('yo');
        var count=0;
        var flag1=0;
        var flag2=0;
        var i=0;
        var achecount=0;
        var symp=[];
        for(i=0;i<8;i++){
            symp[i]=0;
        }
        var k = keys.split(",");
        console.log(symp);

        console.log(k.length);
        for(i=0;i<k.length;i++){
            console.log(k[i]);
        }
        for(i=0;i<k.length;i++){     
       if(k[i]==25){
                count=count+1;
                symp[2]=100;
                //cough
        }
        if((k[i]==26) || (k[i]==42)){
            //26high fever, 42 mildfever
            if(flag1==0){
                count=count+1;
            flag1=1;
            }
            if((k[i]==26)){
                symp[0]=100;
            }else{
                symp[0]=50;
            }
        }
        if(k[i]==15){
            //fatigue
            symp[1]=100;
                count=count+1;
        }
        if((k[i]==7) || (k[i]==32)|| (k[i]==79) || (k[i]==81) || (k[i]==98)){
            //aches and pain
            achecount=achecount+1;
            if(flag2==0){
                count=count+1;
            flag2=1;
            }

        }
        if(k[i]==56){
            //congestion
                count=count+1;
                symp[4]=100;

        }
        if(k[i]==52){
            //sore throat
            symp[6]=100;

                count=count+1;
        }
        if(k[i]==41){
            //diarrhoea
            symp[7]=100;

                count=count+1;
        }
        if(k[i]==55){
            //runny nose
            symp[5]=100;

                count=count+1;
        }
    symp[3]=achecount*20;
}
        document.getElementById('corona').innerHTML = 'You have ' + count + ' symptom(s) in common with the symptoms of COVID19';

        //radar
    var ctxR = document.getElementById("radarChart").getContext('2d');
    var myRadarChart = new Chart(ctxR, {
      type: 'radar',
      data: {
        labels: ["Fever", "Tiredness", "Dry Cough", "Aches and pains", "Nasal congestion", "Runny nose", "Sore throat", "Diarrhoea"],
        datasets: [{
          label: "Symptoms of COVID19",
          data: [100, 100, 100, 100, 100, 100, 100, 100],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        }, {
          label: "Your symptoms",
          data: symp,
          backgroundColor: [
            'rgba(0, 250, 220, .2)',
          ],
          borderColor: [
            'rgba(0, 213, 132, .7)',
          ],
          borderWidth: 2
        }]
      },
      options: {
        responsive: true
      }
    });
        </script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    
  <!-- Bootstrap tooltips -->	

  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js')}}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
      // Animations initialization
      new WOW().init();
  </script>
 {% block script %}{% endblock %}
</body>

</html>
